%dl
  - @assays.sort{|a,b| a["Assay Name"] <=> b["Assay Name"]}.each do |assay|
    %dt
      %a{:href => "http://pubchem.ncbi.nlm.nih.gov/assay/assay.cgi?aid=#{assay["AID"]}", :rel => "_blank"} #{assay['Assay Name']}
      :javascript
        $('A[rel="_blank"]').each(function(){
          $(this).attr('target', '_blank');
        });
    %dd
      Assay ID:
      %a{:href => "http://pubchem.ncbi.nlm.nih.gov/assay/assay.cgi?aid=#{assay["AID"]}", :rel => "_blank"} #{assay['AID']}
      :javascript
        $('A[rel="_blank"]').each(function(){
          $(this).attr('target', '_blank');
        });
