%dl
  - @assays.sort{|a,b| a["Assay Name"] <=> b["Assay Name"]}.each do |assay|
    %dt
      %a{:href => "http://pubchem.ncbi.nlm.nih.gov/assay/assay.cgi?aid=#{assay["AID"]}"} #{assay['Assay Name']}
    %dd
      Assay ID:
      %a{:href => "http://pubchem.ncbi.nlm.nih.gov/assay/assay.cgi?aid=#{assay["AID"]}"} #{assay['AID']}
