%p
  More than one compound found for
  = "\"#{params[:name]}\"."
  Please select a structure:
- @compounds.each do |compound|
  %a{:href => "/cid/#{compound.cid}"}
    %img{:src => compound.image_uri }

